<div class="center">
  <h2>Your Purchase History</h2>
</div>

<%= render 'partials/orders/product_list', orders: @orders, is_seller: true %>

<br>

<!-- Implemented "Tell, Don't ask" pattern using helper file  -->
<%= show_product_create_button %>
